---
layout: base.njk
---
<main>
    <article>{{ content | safe }}</article>
</main>
<footer>
    <a href="{{ "../../" | url }}"><-- back</a>
    <br>
    <br>
    <img src="{{ "../../assets/Written-By-Human-Not-By-AI-Badge-white.png" | url}}" alt="written by human not by AI">
</footer>