---
layout: base.njk
---
<main>
    <article>{{ content | safe }}</article>
</main>
<footer>
    <a href="{{ "../../" | url }}"><-- back</a>
    <br>
    <br>
    <a href="https://notbyai.fyi/"><img src="{{ "../../assets/Written-By-Human-Not-By-AI-Badge-white.png" | url }}"
                                        alt="written by human not by AI"></a>
</footer>