body {
    font-family: sans-serif;
    color: #fff;
    background-color: #111111;
}

.page {
    margin: auto;
    width: 75%;
}

a {
    text-decoration: none;
    color: #66b3ff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #23648c;
}